.root {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: #fff;
}

.houstItem {
  width: 20%;
  margin: 10px 0;
  line-height: 23px;
}

.active {
  color: #21b97a;
}

.icon {
  font-size: 23px;
}

.selected {
  color: #21b97a;
}