
.icon-back {
  color: #333;
}
.detail .icon-share {
  color: #fff;
  font-size: 25px;
}
.detail .icon-back {
  color: #fff;
}
.detail .am-navbar-title {
  color: #fff;
}
.am-navbar-light {
  background-color: #f6f5f6;
}

.am-navbar-title {
  color: #333;
  font-weight: 300;
}
